{% extends 'base.html.twig' %}

{% block title %}Hello HomeSecondController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home_second') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="app-home-second"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home_second') }}
{% endblock %}
